<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <select v-model="selected">
                <option selected disabled> Please select a value.</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>   
            </select>
            <span>Selected : {{selected}}</span>
            <p>Multiple Select</p>
            <select v-model="multiSelect" multiple>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Multiple Select : {{multiSelect}}</span>
            <p>Dynamic Select</p>
            <select v-model="dynamicSelect">
                <option v-for="option in options" v-bind:value="option.value">{{option.text}}</option>
            </select>
            <span>Dynamic Select: {{dynamicSelect}}</span>
        </div>
        <script src="index.js"></script>
    </body>
</html>