<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <span>Mustache syntax: {{ message }}</span>
            <br >
            <span v-once> v-once directive: {{message}}</span>
        </div>
        <script src="index.js"></script>
    </body>
</html>