<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <span v-if="seen">Now you can see me.</span>
            <br>
            <a v-bind:href="url">Google Link</a>
            <p v-on:click="doSomething">Click this text.</p>
        </div>

        <script src="index.js"></script>
    </body>
</html>