<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <ul>
            <template v-for="item in items">
                <li>{{ item.message }}</li>
            </template>
            </ul>
        </div>
        <script src="index.js"></script>
    </body>
</html>