<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <textarea v-model="message" placeholder="add multiple lines"></textarea>
            <p>Message is: {{message}}</p>
        </div>
        <script src="index.js"></script>
    </body>
</html>