<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Reusable Code:</p>
            <template v-if="loginType === 'user'">
                <label>User Name</label>
                <input placeholder="enter your user name">
            </template>
            <template v-else>
                <label>E-mail</label>
                <input placeholder="enter your email">
            </template>
            <button v-on:click="changeType">toggle login type</button>

            <p>Not Reusable Code:</p>
            <template v-if="loginType === 'user'">
                    <label>User Name</label>
                    <input placeholder="enter your user name" key="username">
                </template>
                <template v-else>
                    <label>E-mail</label>
                    <input placeholder="enter your email" key="email">
                </template>
                <button v-on:click="changeType">toggle login type</button>
        </div>
        <script src="index.js"></script>
    </body>
</html>