<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <my-component
                v-for="(item, index) in todos"
                v-bind:item="item"
                v-bind:index="index"
                v-bind:key="item.id"
              ></my-component>
        </div>
        <script src="index.js"></script>
    </body>
</html>