<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Original Message: {{message}}</p>
            <p>Reversed Message: {{reversedMessage}}</p>
            <p>Reverse Method: {{reverseMessage()}}</p>
        </div>
        <script src="index.js"></script>
    </body>
</html>