<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Users</p>
            <ul>
                <li v-for="item in users" v-bind:key="item.id"> {{item.name}}</li>
            </ul>

        </div>
        <script src="index.js"></script>
    </body>
</html>