<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Items</p>
            <ul>
                <li v-for="item in items"> {{item}}</li>
            </ul>
        </div>
        <script src="index.js"></script>
    </body>
</html>