<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <div :style="{fontSize: postFontSize + 'em' }">
                <my-post 
                    v-for="item in posts"
                    v-bind:key="item.id"
                    v-bind:post="item"
                    v-on:enlarge-text="postFontSize += $event">
                </my-post>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>