<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Lazy Modifier</p>
            <input type="text" v-model.lazy="message"><br>
            <span>Message : {{message}}</span>

            <p>Number Modifier</p>
            <input type="number" v-model.numbers="age" v-on:input="getValue"><br>
            <span>Age : {{age}}</span>

            
            <p>Trim Modifier</p>
            <input type="text" v-model.trim="paragraph" v-on:input="getValue"><br>
            <span>Paragraph : {{paragraph}}</span>
        </div>
        <script src="index.js"></script>
    </body>
</html>