<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Example</title>
    <script src="vue.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
    <style>
    </style>
  </head>
  <body>
    <div id="app">
      <button @click="show = !show">Toggle Render</button>
      <transition
        v-on:before-enter="beforeEnter"
        v-on:enter="enter"
        v-on:after-enter="afterEnter"
        v-on:enter-cancelled="enterCancelled"
      
        v-on:before-leave="beforeLeave"
        v-on:leave="leave"
        v-on:after-leave="afterLeave"
        v-on:leave-cancelled="leaveCancelled"
      >
      <p v-if="show">hello</p>
      </transition>
    </div>
    <script src="index.js"></script>
  </body>
</html>