<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
        <style>
            .tab-button {
            padding: 6px 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border: 1px solid #ccc;
            cursor: pointer;
            background: #f0f0f0;
            margin-bottom: -1px;
            margin-right: -1px;
            }
            .tab-button:hover {
            background: #e0e0e0;
            }
            .tab-button.active {
            background: #e0e0e0;
            }
            .tab {
            border: 1px solid #ccc;
            padding: 10px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <button 
                v-for="tab in tabs" 
                v-bind:key="tab" 
                v-bind:class="['tab-button', {active: currentTab === tab}]"
                v-on:click="currentTab = tab"
            >{{tab}}</button>

            <component v-bind:is="currentTabComponent" class="tab"></component>
        </div>
        <script src="index.js"></script>
    </body>
</html>