<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Access item.</p>
            <ul>
                <li v-for="item in items">{{item.message}}</li>
            </ul>
            
            <p>Access item and index</p>
            <ul>
                <li v-for="(item, index) in items">
                    {{parentMessage}} {{index}} - {{item.message}}
                </li>
            </ul>
        </div>
        <script src="index.js"></script>
    </body>
</html>