<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>{{massage}}</p>
            <input v-model="massage">
        </div>

        <script src="index.js"></script>
    </body>
</html>