<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Method One</p>
            <ul>
                <li v-for="item in todos" v-if="item.completed">{{item.message}}</li>
            </ul>

            <p>Method Two</p>
            <ul v-for="item in todos">
                <li  v-if="item.completed">{{item.message}}</li>
            </ul>


        </div>
        <script src="index.js"></script>
    </body>
</html>