<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">

            <h3>Static Binding</h3>
            <p>Radio </p>
            <input type="radio" v-model="staticPicked" value="a">a
            <input type="radio" v-model="staticPicked" value="b">b
            <input type="radio" v-model="staticPicked" value="c">c
            <br>
            <span>Radio Button : {{staticPicked}}</span>
            <p>Checkbox </p>
            <input type="checkbox" v-model="staticCheckbox">
            <br>
            <span>CheckBox : {{staticCheckbox}}</span>
            <p>Select List </p>
            <select v-model="staticSelected">
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
            </select>
            <br>
            <span>Select list : {{staticSelected}}</span>

            <h3>Dynamic Binding</h3>
            <p>Radio </p>
            <input type="radio" v-model="dynamicPicked" v-bind:value="d">d
            <input type="radio" v-model="dynamicPicked" v-bind:value="g">g
            <input type="radio" v-model="dynamicPicked" v-bind:value="f">f
            <br>
            <span>Radio Button : {{dynamicPicked}}</span>

            <p>Checkbox </p>
            <input type="checkbox" v-model="cars" v-bind:value="carOne">BMW
            <input type="checkbox" v-model="cars" v-bind:value="carTwo">Mercedes
            <br>
            <span>CheckBox : {{cars}}</span>

            <p>Select list</p>
            <select v-model="dynamicSelected">
                <option v-bind:value="x">x</option>
                <option v-bind:value="y">y</option>
                <option v-bind:value="z">z</option>
            </select>
            <br>
            <span>Select list : {{dynamicSelected}}</span>

        </div>
        <script src="index.js"></script>
    </body>
</html>