<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Static Properties.</p>
            <blog-post title="My Journey with Vue."></blog-post>
            <blog-post title="Blogging with Vue."></blog-post>
            <blog-post title="Why Vue is so fun."></blog-post>

            <p>Dynamic Properties.</p>
            <blog-post v-for="item in posts" v-bind:key="item.id" v-bind:title="item.title"></blog-post>
        </div>
        <script src="index.js"></script>
    </body>
</html>