<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Example</title>
    <script src="vue.js" type="text/javascript"></script>
    <style>
      .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
      }

      .fade-enter, .fade-leave-to {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button @click="show = !show">Toggle Render</button>
      <transition name="slide-fade">
        <p v-if="show">hello</p>
      </transition>
    </div>
    <script src="index.js"></script>
  </body>
</html>