<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            Ask Yes/No Question <br>
            <input type="text" v-model="question">
            <p>{{answer}}</p>
        </div>
        <!-- Since there is already a rich ecosystem of ajax libraries    -->
        <!-- and collections of general-purpose utility methods, Vue core -->
        <!-- is able to remain small by not reinventing them. This also   -->
        <!-- gives you the freedom to use what you're familiar with.      -->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>