<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <h1>Static Components</h1>
            <my-component v-for="item in todos" :key="item.id"></my-component>

            <h1>Dynamic Components</h1>
            <dynamic-component v-for="item in todos" :todo="item"></dynamic-component>
        </div>
        <script src="index.js"></script>
    </body>
</html>