<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <h1>This first code will cause error.</h1>
            <my-post-one v-for="item in posts" v-bind:key="item.id" v-bind:post="item"></my-post-one>

            <my-post-two v-for="item in posts" v-bind:key="item.id" v-bind:post="item"></my-post-two>
        </div>
        <script src="index.js"></script>
    </body>
</html>