<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Using Mustache : {{rawHtml}}</p>
            <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        </div>
        <script src="index.js"></script>
    </body>
</html>