<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <button v-on:click="counter +=1">Click Button</button>
            <p>the button has been clicked {{counter}} times.</p>
        </div>
        <script src="index.js"></script>
    </body>
</html>