<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <h1 v-if="awesome">Vue is awesome.</h1>
            <h1 v-else>Vue is NOT awesome.</h1>

            <template v-if="ok">
                <h1>Title</h1>
                <p>Paragraph One</p>
                <p>Paragraph Two</p>
            </template>

            <div v-if="type === 'A'">
                A
            </div>
            <div v-else-if="type === 'B'">
                B
            </div>
            <div v-else>
                Not A or B
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>