<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <form v-on:submit.prevent="addNewTodo">
                <label for="new-todo">Add Todo</label>
                <input v-model="newTodoText" id="new-todo" placeholder="Eg: feed the cat.">
                <button>Add</button>
            </form>

            <ul>
                <li is="todo-item" v-for="(todo, index) in todos" 
                                    v-bind:key="todo.id"
                                    v-bind:title="todo.title"
                                    v-on:remove="todos.splice(index, 1)"></li>
            </ul>
        </div>
        <script src="index.js"></script>
    </body>
</html>