<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Example</title>
    <script src="vue.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
    <style>
      .bounce-enter-active {
        animation: bounce-in .5s;
      }
      .bounce-leave-active {
        animation: bounce-in .5s reverse;
      }
      @keyframes bounce-in {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(1.5);
        }
        100% {
          transform: scale(1);
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button @click="show = !show">Toggle Render</button>
      <transition 
        name="custom-classes-transition"
        enter-active-class="animated tada"
        leave-active-class="anmited bounceOutRight">
      <p v-if="show">hello</p>
      </transition>
    </div>
    <script src="index.js"></script>
  </body>
</html>