<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Full Name: {{fullName}}</p>
            <p>Computed Property: {{computedFullName}}</p>
        </div>
        <script src="index.js"></script>
    </body>
</html>