<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            <p>Access value</p>
            <ul>
                <li v-for="value in object">{{value}}</li>
            </ul>

            <p>Access key and value</p>
            <ul>
                <li v-for="(value, name ) in object">  {{name}} : {{value}}</li>
            </ul> 

            <p>Access key, value and index</p>
            <ul>
                <li v-for="(value, name, index) in object"> {{index}} : {{name}} -> {{value}}</li>
            </ul> 
        </div>
        <script src="index.js"></script>
    </body>
</html>