<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Example</title>
        <script src="vue.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app">
            number : {{number +1 }} <br>
            status : {{status ? 'yes' : 'no'}} <br>
            message Reversed : {{message.split('').reverse().join()}}<br>
            data-id : <span v-bind:id="'list-'+ id">{{id}}</span>   
        </div>

        <script src="index.js"></script>
    </body>
</html>